<p style="color: MediumSeaGreen"><%= notice %></p>
<%= render @recipe %>
<%= render "add_food", recipe: @recipe %>

<div>
  <%= link_to "Edit recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Recipes", recipes_path %>
  <%= button_to "Delete", @recipe, method: :delete %>
</div>
