<p style="color: MediumSeaGreen"><%= notice %></p>
<%= render @recipe %>
<%= render "add_food", recipe: @recipe %>

<div>
  <% if can? :update, @recipe %>
    <%= link_to "Edit recipe", edit_recipe_path(@recipe) %> 
  <% end %> |
  <%= link_to "Recipes", recipes_path %>
  <% if can? :destroy, @recipe %>
    <%= button_to "Delete", @recipe, method: :delete %>
  <% end %>
</div>
